@import colors.sass, prefixify.sass

.board
  width: 100%
  margin-top: 2em
  font-family: 'League Gothic'
  font-size: 24px
  overflow: hidden
  position: relative

  .time
    color: $gray

.communication
  width: 25%
  height: auto
  top: 4.5em
  right: 0.5em
  position: fixed
  z-index: 20
  font-size: 16px
  font-family: 'League Gothic'
  color: $gray
  opacity: 1

  li
    list-style: none
    margin-bottom: 0.2em
    padding: 0.5em
    background: #fff
    position: relative
    z-index: 20
    overflow: hidden
    border: 1px solid #fff
    border-radius: 0.3em
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.1)

    .train
      float: left

    .platform
      float: right
      border: 0
      background: none
      text-shadow: none
      box-shadow: none

      .new
        &:before
          content: 'Platform '

      .old
        opacity: 0.4

        &:before
          content: '(was '

        &:after
          content: ')'

    .delay
      width: 2.9em
      float: right
      text-align: right
      color: $delayed

      &:before, &:after
        opacity: 0.4

      &:before
        content: '+'

      &:after
        content: ' min'

.station
  width: 60%
  margin: 0 auto
  overflow: visible

.people-count
  display: inline-block
  white-space: nowrap
  color: $blue // #E66D7B

  &:before
    padding-right: 0.6em
    color: rgba(0, 0, 0, 0.2)

li span.people-count
  width: auto

.people-count + .capacity
  color: $blue

  &:before
    color: rgba(0, 0, 0, 0.2)
    content: "of"
    padding: 0 0.2em

.platform, .tunnel, .main-building
  background-color: #eee
  border: 1px solid #ddd
  box-shadow: inset 0 0 2em #ddd
  @include prefixify(box-sizing, border-box)
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6)
  margin: 0 auto

.platforms
  li
    list-style: none

    &:last-child .tunnel
      border-bottom: 0

      &:after
        display: none

  .platform
    height: 2em
    padding: 0.5em 1em 0 0.5em
    width: 60%
    position: relative
    z-index: 5
    overflow: hidden
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6)

    h2, .people-count
      font-size: 1em
      line-height: 1em

    h2
      float: left
      margin-left: 1em
      color: black

    .people-count
      width: 5em
      float: right
      text-align: right

  .rail
    background-color: rgba(255, 255, 255, 0.5)
    height: 1.68em
    padding: 1px 0
    @include prefixify(box-sizing, border-box)
    position: relative
    z-index: 3

    .waiting-trains, .total-delay
      font-size: 0.8em
      height: 1.65em
      padding-top: 0.35em
      position: absolute

    .waiting-trains
      width: 3.4em
      left: 0
      padding-left: 0.2em
      background-color: $danger
      box-shadow: inset 0 0 1em darken($danger, 10%)
      color: #fff
      @include prefixify(transition, left 0.2s ease-in-out)

      &.none
        left: -3.6em

      &:before
        content: "+"
        display: inline-block
        margin-left: 0.2em

      .icon
        width: 1.2em
        height: 1.2em
        margin-top: 0.05em
        float: left
        background: url("/assets/icon-train.png") 0 0 no-repeat
        background-size: 100% 100%

    .total-delay
      width: 8em
      padding-right: 1em
      right: 0
      text-align: right
      color: $danger
      opacity: 1
      @include prefixify(transition, opacity 0.2s ease-in-out)

      .external, .total
        &:before, &:after
          opacity: 0.4

      .external
        &:before
          content: "("
        &:after
          content: " min)"

      .total
        &:before
          content: "+"
        &:after
          content: " min"

      &.none
        opacity: 0

  .train
    position: relative
    z-index: 4
    overflow: hidden
    font-size: 0.8em
    @include prefixify(transition, all 1s ease-in-out) // do not change the duration

    &.to-left
      left: 20%

      &.arrival
        left: 100%

      &.departure
        left: -21em // width of the train + additional em

      .locomotive, .units, .units li
        float: left

      .locomotive
        .to
          float: left

        .from
          float: right

      .units li
        margin-left: 1px

    &.to-right
      right: 20%

      &.arrival
        right: 100%

      &.departure
        right: -21em // width of the train + additional em

      .locomotive, .units, .units li
        float: right

      .locomotive
        .to
          float: right

        .from
          float: left

      .units li
        margin-right: 1px
        width: 8em

    .locomotive
      width: 12em
      background-color: $fine
      border: 1px solid darken($fine, 10%)
      box-shadow: inset 0 0 1em darken($fine, 10%)
      color: #fff
      text-align: center
      position: relative
      overflow: hidden

      .from
        top: 0.1764705882em
        position: relative
        font-size: 0.85em
        color: $ecru

    &.delayed
      .locomotive
        background-color: $delayed
        border-color: darken($delayed, 10%)
        box-shadow: inset 0 0 1em darken($delayed, 10%)

.locomotive, .units li, .desks li
  height: 2em
  padding: 0.25em 0.5em
  @include prefixify(box-sizing, border-box)
  border-radius: 3px
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1)

.units, .desks
  li
    width: 6em
    height: 2em
    
    list-style: none
    background-color: $gray
    border: 1px solid darken($gray, 10%)
    box-shadow: inset 0 0 1em darken($gray, 10%)
    text-align: center

    .people-count
      min-width: 3em
      letter-spacing: 1px
      color: #fff

      &:before
        color: rgba(0, 0, 0, 0.4)

.units
  position: relative
  overflow: hidden
  display: block

  li
    width: 8em
    height: 2em

.tunnel
  width: 8em
  height: 2em
  padding: 0.3em 0 0 0
  @include prefixify(box-sizing, border-box)
  position: relative
  text-align: center

  &:before, &:after
    content: ""
    width: inherit
    height: 2em
    display: block
    position: absolute
    z-index: 0
    background-color: #eaeaea

  &:before
    margin-top: -2em // rail height
    top: -1px // border
    left: -1px // border

  &:after
    margin-top: 2em
    top: -1px
    left: -1px

  .people-count
    min-width: 100%

.main-building
  width: 60%
  padding: 1em
  @include prefixify(box-sizing, border-box)
  display: table

  .corridor, .info-office, .cash-office
    display: table-cell
    text-align: center
    vertical-align: middle

    h2
      font-size: 1em
      color: black


  .corridor
    width: 80%

    h2
      line-height: 1em

    .waiting-room
      margin-bottom: 1em

  .cash-office, .info-office
    width: 20%

    h2
      line-height: 1em

    .desks
      font-size: 0.8em

      li
        margin-bottom: 1px
        display: inline-block

.with-tooltip
  position: relative

  &:hover .tip, .tip:hover
    opacity: 1
    pointer-events: auto

  .tip
    width: 12em
    padding: 0.2em
    margin-top: 0.15em
    position: absolute
    z-index: 20
    border-radius: 0.2em
    background-color: rgba(50, 50, 50, 0.85)
    border: 1px solid #333
    font-size: 0.8em
    color: #fff
    text-shadow: none
    opacity: 0
    pointer-events: none
    @include prefixify(transition, opacity 0.3s ease-in-out) 

    &.bottom, &.right
      &:after
        display: none

    &.top, &.left
      &:before
        display: none

    &.bottom:before
      margin-left: 50%
      top: -0.3em
      left: -0.3em
      border-top: 0
      border-bottom-color: #333

    &.right:before
      top: 0
      left: -0.3em
      border-left: 0
      border-right-color: #333

    &.left:after
      top: 0
      right: -0.3em
      border-right: 0
      border-left-color: #333

    &:before, &:after
      content: ''
      display: block
      height: 0
      width: 0
      position: absolute
      border: 0.3em solid transparent

    &.metrics-2
      width: 8em

    .people-count
      display: block
      float: left
      width: 4em
      min-width: 4em
      margin: 0
      position: relative
      text-align: center
      color: #eee

      &:before
        color: black
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)

.platform .people-count.with-tooltip .tip
  top: -0.35em
  left: -10em
  padding-top: 0.3em

  &:after
    top: 0.45em

.tunnel .with-tooltip .tip
  margin-left: 0.6em

.corridor .with-tooltip .tip
  margin-left: 50%
  margin-top: 0
  left: -6.2em // half of width

  &.metrics-2
    left: -4.2em

.desks .with-tooltip .tip
  &.right
    margin-left: 0.45em
    left: 100%

    &:before
      top: 0.55em
      left: -0.4em
      border-width: 0.4em 0.4em 0.4em 0

  &.left
    margin-right: 0.5em
    right: 100%

    &:after
      top: 0.55em
      right: -0.4em
      border-width: 0.4em 0 0.4em 0.4em

  top: 0.05em