!!!
%html
  %head
    %title Railway Station Simulation

    - if content_for? :head
      = yield :head

    = csrf_meta_tags

  %body
    - if flash[:error]
      .flash.error= flash[:error]

    %header#header
      %h1
        %span Railway Station
        %span Simulation

    = yield

    %footer
      Copyright &copy; 2012 Artur Hebda, Jakub Tekiela, Kamil Wajda